* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #c4cec4;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0077C0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    background-color: #0077C0;
    height: 90;
}

aside { 
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
}

section {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

footer{
    position: relative;
    bottom: 0;
    width: 80%;
    float: right;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}


.about-me {
    height: 10%;

}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    margin-top: 2%;
}

.contact-me {
    height: 5%;
}

.btn {
    display: flex;
    flex-direction: row-reverse;
    background-color: #0077c0;
    border: none;
    color: #c4cec4;
    opacity: 0.5;
    transition: 0.8s;
}

.btn:hover {
    opacity: 1;
    box-shadow: 5px 2px 2px grey;

}

header a:hover {
    display: block;
    color: #c4cec4;
    transition: all 0.9s ease-in-out;
}

#about-me, #work, #contact-me {
    border-right: 5px solid black;
}

.about-me p {
    text-align: right;
    margin-left: 5%;
}

#surf-report {
    display: flex;
    align-items: flex-end;
    width: 99%;
    height: 35%;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#surf-report ~ * {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width:46%;
    height: 20%;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

